<!DOCTYPE html>
<html lang="en">
<head>
	@import(google-analytics)
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@attach(head)
	<link rel="stylesheet" href="/windi.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
	<script src="/petite-vue.iife.js"></script>
  @import(adsense)
</head>
<body>

	<!-- <script>var id = "26578e4951cd65844d62bae9f1642cdf9b8a84c7";</script>
	<script type="text/javascript" src="https://api.sosiago.id/js/tracking.js"></script> -->
	
	@attach(body)
</body>
</html>
