{% extends '../layouts/post.html' %}

{% block judul %}
	Berbagai Modul JavaScript yang Bermanfaat
{% endblock %}

{% block kelas %}
	JavaScript
{% endblock %}

{% block isi %}
	@markdown
		## Acak

		```javascript
		export default function(array) {
			var currentIndex = array.length, temporaryValue, randomIndex;

			// While there remain elements to shuffle...
			while (0 !== currentIndex) {

				// Pick a remaining element...
				randomIndex = Math.floor(Math.random() * currentIndex);
				currentIndex -= 1;

				// And swap it with the current element.
				temporaryValue = array[currentIndex];
				array[currentIndex] = array[randomIndex];
				array[randomIndex] = temporaryValue;
			}

			return array;
		}
		```

		Cara menggunakan:

		```javascript
		import acak from '/acak.js'

		const arraynya = [1, 2, 3, 4, 5]
		console.log(acak(arraynya))
		```

		## Generate Slug

		Kodenya:

		```javascript
		export default function(str) {
			str = str.replace(/^\s+|\s+$/g, ''); // trim
			str = str.toLowerCase();
		  
			// remove accents, swap ñ for n, etc
			var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
			var to   = "aaaaeeeeiiiioooouuuunc------";
			for (var i=0, l=from.length ; l>i ; i++) {
				str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
			}

			str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
				.replace(/\s+/g, '-') // collapse whitespace and replace by -
				.replace(/-+/g, '-'); // collapse dashes

			if (str == '') {
				acak = Math.random() + ''
				str = acak.replace('0.', '')
			}
			return str;
		}
		```

		Contoh cara menggunakan:

		```javascript
		import slug from '/slug.js'

		console.log(slug('Aku mau makan'))
		// Hasil: aku-mau-makan
		```

		## Sleep

		Jadi, ini fungsinya seperti `sleep` pada Python:

		```javascript
		export default function(n){
			return new Promise(resolve => setTimeout(resolve, n))
		}
		```

		Cara menggunakan:

		```javascript
		import sleep from '/sleep.js'

		async function app(){
			console.log('Hello World...')
			await sleep(5000) // jeda 5 detik
			console.log('Pesan ini tampil setelah jeda 5 detik')
		}
		app()
		```

		## Excalibur

		```javascript
		export default async function(server, data){
			const body = new FormData
			for (let n in data){
				body.append(n, data[n])
			}

			let proses = await fetch(server, {
				method: 'post',
				body
			}, {
				'Content-Type': 'application/x-www-form-urlencoded'
			})
			return proses
		}
		```

		Cara menggunakan:

		_Mengirim Data_

		```javascript
		import excalibur from '/excalibur.js'

		const id = '732350a69322f540982cd61ad4l9f465' // id, nama
		const server = 'https://excalibur.mabaiz.web.id/sql.php'

		async function app(){
			const kirim = await excalibur(server, {
				id,
				kunci: 'tambah',
				nama: 'Zen'
			})
			if (kirim) {
				console.log('Berhasil')
			}
		}
		app()
		```

		_Mendapatkan Data_

		```javascript
		import excalibur from '/excalibur.js'

		const id = '732350a69322f540982cd61ad4l9f465' // id, nama
		const server = 'https://excalibur.mabaiz.web.id/sql.php'

		async function app(){
			let dapatkan = await excalibur(server, {
				id,
				kunci: 'dapatkan'
			})
			dapatkan = await dapatkan.json()
			console.log(dapatkan)
		}
		app()
		```

		## Olah WA

		```javascript
		export default function(nomorWa, teks){
			teks = teks.split("\n").map(x => x.trimStart()).join("\n")
			teks = encodeURIComponent(teks)
			return `https://api.whatsapp.com/send?phone=${nomorWa}&text=${teks}`
		}
		```

		Cara menggunakan:

		```javascript
		import olahWa from '/olah-wa.js'

		console.log(6281234567890, 'Aku mau pesan buku satu ya...')
		```
	@endmarkdown
{% endblock %}