{% extends '../layouts/post.html' %}

{% block judul %}
  Dialog di JavaScript
{% endblock %}

{% block kelas %}
  JavaScript
{% endblock %}

{% block isi %}
  @markdown
    Ada sebuah pertanyaan yang cukup menggelitik saat aku main ke sebuah grup pemrograman di Telegram:

    > Ada yang punya script alert buat percakapan sama pacar nggak?

    Bukan maksudnya mau menghakimi sih. Tapi nggak tau kenapa ya lucu aja. 

    Nah, kali ini kita akan coba buat seperti yang diinginkan oleh si penanya di Telegram itu yaitu script alert buat percakapan sama pacar. Kalau yang kubayangkan sih seperti ini:

    ![Alert di JavaScript](https://i.ibb.co/hZsj7d3/alert-di-javascript.png)

    Nah, dia berbentuk popup gitu.

    ## Beberapa Bentuk PopUp

    Sekarang, kita buat dulu deh beberapa bentuk popup:

    ### Alert

    Yang alert, sama seperti contoh tadi:

    ![Alert di JavaScript](https://i.ibb.co/hZsj7d3/alert-di-javascript.png)

    Kode JavaScriptnya itu seperti ini:

    ```javascript
    alert('Hai cantik...')
    ```    

    Simpel banget kan?

    Jadi, dia itu akan menampilkan popup sederhana....

    Contoh menggunakannya seperti ini kalau di HTML:

    ```html
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>

      <script>
        alert('Hai cantik...')  
      </script>

    </body>
    </html>
    ```

    Jadi, kita meletakkan alert itu di dalam tag body.

    Kenapa nggak di dalam tag head?

    Ya nggak papa sih. Tapi memang bagusnya, semua yang tampil di halaman itu diletakkan di dalam tag body. Jadi, walaupun kode alert ini juga bekerja di dalam tag head, bagusnya ya di tag body karena tampil di layar kita hasilnya.

    Terus, kalau misalnya kode HTML tadi berisi dengan kode-kode HTML lainnya, bentuknya akan jadi seperti ini:

    ```html
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>

      <script>
        alert('Hai cantik...')  
      </script>

      <h1>Ini adalah Judul Sebuah Tulisan</h1>
      <p>Ini adalah paragraf pertama</p>
      <p>Ini adalah paragraf kedua</p>

    </body>
    </html>
    ```

    Jadi, dia akan merender alert terlebih dahulu, baru diikuti dengan konten HTML yang ingin kita tunjukkan. Soalnya kan letak alert berada di atas konten HTMLnya.

    Biasanya kan kayak gitu ya? Alert terlebih dahulu, baru setelah itu konten HTMLnya.

    ### Confirm

    Kalau confirm, dia bentuknya seperti ini:

    ![Confirm di JavaScript](https://i.ibb.co/QML9PjH/confirm-di-javascript.png)

    Nah, berbeda dengan alert yang cuma menampilkan Oke, di sini dia menampilkan `Batal` dan `Oke`. Kenapa kok menampilkan dua itu? Karena memang fungsinya itu untuk mengkonfirmasi.

    Kalau contoh di atas, pertanyaannya adalah: _Apakah kamu mau makan sate?_ Nah, di situ muncul dua opsi yaitu `Batal` dan `Oke` karena bentuknya adalah mengkonfirmasi.

    Itu kode HTMLnya adalah:

    ```html
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>
      
      <script>
        confirm('Apakah kamu mau makan sate?')
      </script>

    </body>
    </html>
    ```

    ### Prompt

    Nah, ini yang terakhir yaitu prompt. Bentuknya seperti ini:

    ![Prompt di JavaScript](https://i.ibb.co/gmmpnc0/prompt-di-javascript.png)

    Kalau yang berisi dengan default value, seperti ini:

    ![Prompt dengan default value](https://i.ibb.co/mDhNJTR/prompt-dengan-default-value.png)

    Apa yang membedakan antara keduanya? Oke, kita bahas pelan-pelan.

    Kalau yang pertama, kodenya itu seperti ini:

    ```html
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>
      
      <script>
        prompt('Siapa namamu?')
      </script>

    </body>
    </html>
    ```

    Sedangkan yang kedua, kodenya seperti ini:

    ```html
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>
      
      <script>
        prompt('Siapa namamu?', 'Zen')
      </script>

    </body>
    </html>
    ```

    Yang pertama itu seperti ini:

    ```javascript
    prompt('Siapa namamu?')
    ```

    Sedangkan yang kedua itu seperti ini:

    ```javascript
    prompt('Siapa namamu?', 'Zen')
    ```

    Jadi, untuk default value, dia ada parameter kedua yang menunjukkan value awalnya.

    Ketiga popup sudah kita bahas. Sekarang, kita akan lanjut ke pengolahan ketiga popup ini.

    ## Pengolahan

    ### Menanyakan Apakah Ujian Tadi Susah

    Kita coba dengan if dan confirm sederhana ya:

    ```html
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>
      
      <script>
        const apakahSusah = confirm('Apakah ujian tadi susah?')

        if (apakahSusah) {
          alert('Nggak papa, kamu sudah berusaha')
        } else {
          alert('Yuk kita semangat lagi menghadapi ujian besok...')
        }
      </script>

    </body>
    </html>
    ```

    Jadi, pertama tadi kita buat variabel `apakahSusah` yang berisi dengan popup konfirmasi apakah ujian tadi susah:

    ```javascript
    const apakahSusah = confirm('Apakah ujian tadi susah?')
    ```

    Di sini aku menggunakan `const` supaya value yang dideklarasikan (`apakahSusah`) nggak berubah isinya. Jadi, setelah kita deklarasikan bahwa nilai dari apakahSusah adalah sebuah popup konfirmasi, nggak bisa kita ubah ke bentuk lain.

    Agak ribet sih memang. Tapi ya untuk sementara, diterima dulu aja ya... Nanti kita bahas.

    Kemudian, ada bentuk if sederhana:

    ```javascript
    if (apakahSusah) {
      alert('Nggak papa, kamu sudah berusaha')
    } else {
      alert('Yuk kita semangat lagi menghadapi ujian besok...')
    }
    ```

    Di situ ada dua `alert` yang berada di dalam dua bagian if. Bagian yang pertama itu untuk menunjukkan `truthy` dan bagian yang kedua itu untuk menunjukkan `falsy`. Jadi, kalau di JavaScript itu terbiasa dengan istilah truthy dan falsy bukan true dan false. Kenapa? Karena JavaScript itu unik. Yang namanya true nggak selama truthy dan yang namanya false nggak selamanya falsy. Nanti deh kita bahas juga.

    Intinya ya bagian pertama itu adalah alert yang muncul ketika kita jawab Oke dan alert yang kedua itu bakalan muncul jika kita jawab Batal.

    ### Membuat Login User dan Password

    Sekarang kita akan buat form login dengan username dan password. Jadi, logikanya, pertama, user akan diminta memasukkan username. Jika benar, maka lanjut memasukkan password. Jika benar, maka akan ada ucapan selamat bahwa username dan password benar. 

    Cukup simpel kan? Yuk kita coba buat kodenya:

    ```html
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>
      
      <script>
        const username = prompt('Masukkan username')

        if (username == 'admin') {
          const password = prompt('Masukkan password')

          if (password == 'login') {
            alert('Selamat datang di halaman admin')
          } else {
            alert('Password salah')
          }
        } else {
          alert('Username salah')
        }
      </script>

    </body>
    </html>
    ```    

    Simpel banget kan kodenya? Yuk sekarang kita ulik kodenya.

    Pertama, dimulai dengan menanyakan username:

    ```javascript
    const username = prompt('Masukkan username')
    ```

    Lalu, akan ada conditional jika username adalah `admin`, maka benar. Dan jika bukan `admin`, maka salah:

    ```javascript
    if (username == 'admin') {
      // jika benar
    } else {
      alert('Username salah')
    }
    ```

    Kemudian, jika usernamenya benar, lanjut ke pertanyaan berikutnya, yaitu passwordnya apa:

    ```javascript
    const password = prompt('Masukkan password')
    ```

    Jika passwordnya sesuai, maka muncul popup selamat datang. Jika salah, dikasih tau kalau passwordnya salah:

    ```javascript
    if (password == 'login') {
      alert('Selamat datang di halaman admin')
    } else {
      alert('Password salah')
    }
    ```
  @endmarkdown
{% endblock %}