{% extends '../layouts/post.html' %}

{% block kelas %}
	JavaScript
{% endblock %}

{% block judul %}
	Mengapa Ngeblog?
{% endblock %}

{% block isi %}
	@markdown
		Selalu ada alasan dibalik suatu kegiatan. Begitu pula dengan blogging. Jadi, mengapa ngeblog? Berikut ini adalah beberapa alasan mengapa aku mulai ngeblog...

		## Ngeblog Membuat Sehat

		Dengan ngeblog, berarti kita selalu bergerak. Tangan ini selalu bergerak. Jadi ya nggak diam aja.

		Selain bergerak, kita juga terus berpikir. Kalau kita terus berpikir, maka kita akan jarang memikirkan hal-hal yang nggak bermanfaat. Nah, itu akan membuat kita sehat secara psikologis.

		## Ngeblog Membuat Kita Mampu Membagikan Ilmu Kita

		Ilmu yang dimiliki itu terkadang bermanfaat juga bagi orang lain. Misalnya aja kita punya ilmu yang menurut kita sepele, seperti [ilmu masak telor](https://kisahzen.com/post/telor.html). Tapi, bagi orang lain, bisa aja itu adalah ilmu yang sangat bermanfaat dan benar-benar dia butuhkan.

		Nah, di sinilah peran blog yang sangat urgen, yaitu membuat kita mampu dengan mudahnya membagikan ilmu yang kita miliki.

		Ilmu itu unik. Dia nggak seperti harta yang akan lenyap jika dibagikan. Kalau ilmu, semakin kita membagikannya, maka akan semakin kaya ilmu yang kita miliki. 

		Kok bisa? Soalnya, ketika kita membagikan ilmu, maka kita juga mendapatkan ilmu dari orang yang kita berikan ilmu itu.

		## Ngeblog Memperluas Koneksi

		Dengan memiliki blog, kita bisa mendapatkan teman baru karena ada banyak komunitas blog.

		Masing-masing komunitas itu punya aturan tersendiri sih. Ada komunitas yang melarang anggotanya share link kecuali di grup tertentu. Ada komunitas yang menyarankan anggotanya untuk share link setiap hari. Ada komunitas yang menganjurkan anggotanya nanam backlink. Ada pula yang menyarankan untuk memperbaiki konten daripada nanam backlink.

		Lalu, mana komunitas yang sebaiknya dipilih? Ya terserah sih. Pilihlah yang sesuai dengan hati nuranimu dan yang membuatmu nyaman. Jika kamu lebih nyaman di komunitas yang ritme tugasnya sprint, ikuti aja.

		## Ngeblog Mampu menghasilkan Duit

		Ngeblog bisa menambah penghasilan kita. Cuma memang aku belum terlalu mengalami kecuali beberapa job sederhana yang aku kerjakan. Dan itu menggunakan blog.

		Jadi, kalau kamu memiliki blog, manfaatkan untuk menambah penghasilan kita.

		Awalnya sih memang nggak ada hasilnya. Tapi ya [banyakin nulis](https://kisahzen.com/post/nulis.html) aja dulu sebelum mendapatkan penghasilan.
	@endmarkdown
{% endblock %}