---
import './_global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://image.freepik.com/free-vector/young-man-head-with-beard-avatar-character_24877-36786.jpg">
	<slot name='head'></slot>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2408628281705149"
     crossorigin="anonymous"></script>
</head>
<body>
	<slot name='body'></slot>
	<script type='text/javascript' src='//pl16711945.trustedgatetocontent.com/f8/e9/d6/f8e9d677d865ea5aa2328030fc2e760a.js'></script>
</body>
</html>
