---
import './_global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<slot name='head'></slot>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2408628281705149"
     crossorigin="anonymous"></script>
</head>
<body>
	<slot name='body'></slot>	
</body>
</html>