*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
::moz-focus-inner {
  border-style: none;
  padding: 0;
}
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  background-color: transparent;
  background-image: none;
  padding: 0;
  line-height: inherit;
  color: inherit;
}
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button, [role="button"] {
  cursor: pointer;
}
b {
  font-weight: bolder;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}
h2, p, h3 {
  margin: 0;
}
h2, h3 {
  font-size: inherit;
  font-weight: inherit;
}
h1, h2 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
h1 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
h1, p {
  margin: 0;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
h1, blockquote, p, h2 {
  margin: 0;
}
h2, h3, p {
  margin: 0;
}
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}
input::placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
img {
  border-style: solid;
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
input, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
p, hr, h1, h2 {
  margin: 0;
}
strong {
  font-weight: bolder;
}
svg {
  display: block;
  vertical-align: middle;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
textarea {
  resize: vertical;
}
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
textarea::webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
textarea::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bg-gradient-1 {
  background-image: linear-gradient(135deg, #FDEB71 10%, #F8D800 100%);
}
.bg-gradient-2 {
  background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
}
.bg-gradient-3 {
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
}
.bg-gradient-4 {
  background-image: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%);
}
.bg-gradient-5 {
  background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
}
.bg-gradient-6 {
  background-image: linear-gradient(135deg, #FFF6B7 10%, #F6416C 100%);
}
.bg-gradient-7 {
  background-image: linear-gradient(135deg, #81FBB8 10%, #28C76F 100%);
}
.bg-gradient-8 {
  background-image: linear-gradient(135deg, #E2B0FF 10%, #9F44D3 100%);
}
.bg-gradient-9 {
  background-image: linear-gradient(135deg, #F97794 10%, #623AA2 100%);
}
.bg-gradient-10 {
  background-image: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
}
.bg-gradient-11 {
  background-image: linear-gradient(135deg, #F761A1 10%, #8C1BAB 100%);
}
.bg-gradient-12 {
  background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
}
.bg-gradient-13 {
  background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
}
.bg-gradient-14 {
  background-image: linear-gradient(135deg, #FAD7A1 10%, #E96D71 100%);
}
.bg-gradient-15 {
  background-image: linear-gradient(135deg, #FFD26F 10%, #3677FF 100%);
}
.bg-gradient-16 {
  background-image: linear-gradient(135deg, #A0FE65 10%, #FA016D 100%);
}
.bg-gradient-17 {
  background-image: linear-gradient(135deg, #FFDB01 10%, #0E197D 100%);
}
.bg-gradient-18 {
  background-image: linear-gradient(135deg, #FEC163 10%, #DE4313 100%);
}
.bg-gradient-19 {
  background-image: linear-gradient(135deg, #92FFC0 10%, #002661 100%);
}
.bg-gradient-20 {
  background-image: linear-gradient(135deg, #EEAD92 10%, #6018DC 100%);
}
.bg-gradient-21 {
  background-image: linear-gradient(135deg, #F6CEEC 10%, #D939CD 100%);
}
.bg-gradient-22 {
  background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);
}
.bg-gradient-23 {
  background-image: linear-gradient(135deg, #F1CA74 10%, #A64DB6 100%);
}
.bg-gradient-24 {
  background-image: linear-gradient(135deg, #E8D07A 10%, #5312D6 100%);
}
.bg-gradient-25 {
  background-image: linear-gradient(135deg, #EECE13 10%, #B210FF 100%);
}
.bg-gradient-26 {
  background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
}
.bg-gradient-27 {
  background-image: linear-gradient(135deg, #FDD819 10%, #E80505 100%);
}
.bg-gradient-28 {
  background-image: linear-gradient(135deg, #FFF3B0 10%, #CA26FF 100%);
}
.bg-gradient-29 {
  background-image: linear-gradient(135deg, #FFF5C3 10%, #9452A5 100%);
}
.bg-gradient-30 {
  background-image: linear-gradient(135deg, #F05F57 10%, #360940 100%);
}
.bg-gradient-31 {
  background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}
.bg-gradient-32 {
  background-image: linear-gradient(135deg, #FFF886 10%, #F072B6 100%);
}
.bg-gradient-33 {
  background-image: linear-gradient(135deg, #97ABFF 10%, #123597 100%);
}
.bg-gradient-34 {
  background-image: linear-gradient(135deg, #F5CBFF 10%, #C346C2 100%);
}
.bg-gradient-35 {
  background-image: linear-gradient(135deg, #FFF720 10%, #3CD500 100%);
}
.bg-gradient-36 {
  background-image: linear-gradient(135deg, #FF6FD8 10%, #3813C2 100%);
}
.bg-gradient-37 {
  background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
}
.bg-gradient-38 {
  background-image: linear-gradient(135deg, #FFD3A5 10%, #FD6585 100%);
}
.bg-gradient-39 {
  background-image: linear-gradient(135deg, #C2FFD8 10%, #465EFB 100%);
}
.bg-gradient-40 {
  background-image: linear-gradient(135deg, #FD6585 10%, #0D25B9 100%);
}
.bg-gradient-41 {
  background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
}
.bg-gradient-42 {
  background-image: linear-gradient(135deg, #65FDF0 10%, #1D6FA3 100%);
}
.bg-gradient-43 {
  background-image: linear-gradient(135deg, #6B73FF 10%, #000DFF 100%);
}
.bg-gradient-44 {
  background-image: linear-gradient(135deg, #FF7AF5 10%, #513162 100%);
}
.bg-gradient-45 {
  background-image: linear-gradient(135deg, #F0FF00 10%, #58CFFB 100%);
}
.bg-gradient-46 {
  background-image: linear-gradient(135deg, #FFE985 10%, #FA742B 100%);
}
.bg-gradient-47 {
  background-image: linear-gradient(135deg, #FFA6B7 10%, #1E2AD2 100%);
}
.bg-gradient-48 {
  background-image: linear-gradient(135deg, #FFAA85 10%, #B3315F 100%);
}
.bg-gradient-49 {
  background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
}
.bg-gradient-50 {
  background-image: linear-gradient(135deg, #FF9D6C 10%, #BB4E75 100%);
}
.bg-gradient-51 {
  background-image: linear-gradient(135deg, #F6D242 10%, #FF52E5 100%);
}
.bg-gradient-52 {
  background-image: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%);
}
.bg-gradient-53 {
  background-image: linear-gradient(135deg, #3B2667 10%, #BC78EC 100%);
}
.bg-gradient-54 {
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}
.bg-gradient-55 {
  background-image: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
}
.bg-gradient-56 {
  background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
}
.bg-gradient-57 {
  background-image: linear-gradient(135deg, #81FFEF 10%, #F067B4 100%);
}
.bg-gradient-58 {
  background-image: linear-gradient(135deg, #FFA8A8 10%, #FCFF00 100%);
}
.bg-gradient-59 {
  background-image: linear-gradient(135deg, #FFCF71 10%, #2376DD 100%);
}
.bg-gradient-60 {
  background-image: linear-gradient(135deg, #FF96F9 10%, #C32BAC 100%);
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.hidden {
  display: none;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-green-500 {
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.gap-3 {
  grid-gap: 0.75rem;
  gap: 0.75rem;
}
.col-span-3 {
  -ms-grid-column-span: span 3 / span 3;
  grid-column: span 3 / span 3;
}
.cv > .basic {
  text-align: center;
}
.terbaru {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 0px !important;
}
.tulisan-terbaru, .link-terbaru {
  padding: 0.75rem;
}
.tulisan-terbaru {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.link-terbaru a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
@media (max-width: 639.9px) {
  .index {
    padding: 0.75rem !important;
  }
  .index .kategorisasi {
    -ms-grid-column-span: span 4 / span 4;
    grid-column: span 4 / span 4;
  }
}
.kotak {
  padding: 1.25rem;
  width: 100%;
}
.wadah-post {
  --tw-bg-opacity: 1;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  padding: 5rem;
  padding-left: 10%;
  padding-right: 10%;
}
.daftar-isi {
  margin-bottom: 1.25rem;
}
.wadah-post :where(header, article, .list-kelas, .daftar-isi, .kategorisasi, .terbaru) {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding: 1.25rem;
}
.wadah-post header {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
.wadah-post :not(pre) > code {
  --tw-bg-opacity: 1;
  background-color: rgba(253, 230, 138, var(--tw-bg-opacity));
}
.wadah-post blockquote {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.75rem;
}
.wadah-post article :where(h1, h2, h3, h4, h5) {
  font-weight: 700;
}
.wadah-post article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.khusus-postingan article img {
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  border-width: 1px;
  --tw-shadow-color: 0, 0, 0;
  --tw-shadow: 0 1px 3px 0 rgba(var(--tw-shadow-color), 0.1), 0 1px 2px 0 rgba(var(--tw-shadow-color), 0.06);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wadah-post article h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.wadah-post article h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.wadah-post article h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.wadah-post article h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.wadah-post article h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.wadah-post .tengah {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.25rem;
  gap: 1.25rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.wadah-post article {
  -ms-grid-column-span: span 3 / span 3;
  grid-column: span 3 / span 3;
}
.wadah-post article * {
  margin-bottom: 1.25rem;
}
.wadah-post article *:last-child {
  margin-bottom: 0px;
}
.wadah-post article pre {
  padding: 1.25rem;
}
.wadah-post article a {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.wadah-post :where(.list-kelas, .daftar-isi, .kategorisasi, .terbaru) h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-bottom: 1.25rem;
  padding-top: 0.75rem;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
.wadah-post :where(.list-kelas, .daftar-isi, .kategorisasi, .terbaru) li {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 0.75rem;
}
.wadah-post :where(.list-kelas:last-child, .daftar-isi:last-child, .kategorisasi:last-child, .terbaru) li:last-child {
  padding-bottom: 0px;
}
.wadah-post :where(.list-kelas:hover, .daftar-isi:hover, .kategorisasi:hover, .terbaru) li:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
[v-cloak] {
  display: none;
}
.wadah-post footer {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 1.25rem;
  padding: 1.25rem;
  text-align: center;
}
.wadah-post footer a {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.gist .gist-meta a, .gist .gist-data {
  margin-bottom: 0px !important;
}
@media (max-width: 639.9px) {
  .khusus-postingan {
    padding: 0.75rem !important;
  }
  .menu-postingan {
    display: none;
  }
  .isi-postingan {
    -ms-grid-column-span: span 4 / span 4;
    grid-column: span 4 / span 4;
  }
}
@media (min-width: 640px) {
  .khusus-mobile {
    display: none;
  }
}
.menu-melayang {
  cursor: pointer;
  padding: 0.5rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}
.menunya-mobile {
  --tw-bg-opacity: 0.5;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.menunya-mobile .isi {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  height: 100vh;
  overflow: auto;
  padding: 0.75rem;
  width: 70%;
}
.menunya-mobile .isi h2 {
  font-family: 'Sacramento', cursive;
  font-size: 1.5rem;
  line-height: 2rem;
}
.menunya-mobile .isi li {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.75rem;
}
.tutup {
  cursor: pointer;
  padding: 0.75rem;
  position: fixed;
  top: 0px;
  right: 0px;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
* {
  overflow-wrap: break-word;
}
pre {
  overflow: auto;
  -moz-tab-size: 2;
  tab-size: 2;
}
.khusus-postingan article :where(ol, ul) {
  margin-left: 1.25rem;
}
.khusus-postingan article ol {
  list-style-type: decimal;
}
.khusus-postingan article ul {
  list-style-type: disc;
}
.khusus-postingan article blockquote {
  margin-left: 0px;
  margin-right: 0px;
}
:where(.gadget, .gadget-mobile) div {
  margin-top: 1.25rem;
}
.mobile-daftar-isi {
  margin-bottom: 1.25rem;
}
.khusus-postingan article :where(th, td) {
  --tw-border-opacity: 1;
  border-color: rgba(139, 92, 246, var(--tw-border-opacity));
  border-width: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.khusus-postingan article table {
  margin-left: auto;
  margin-right: auto;
}
.tambah-komentar :where([type='text']:focus, [type='url']:focus, textarea):focus {
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.tambah-komentar :where([type='text'], [type='url'], textarea) {
  --tw-border-opacity: 1;
  border-color: rgba(147, 197, 253, var(--tw-border-opacity));
  border-width: 1px;
  display: block;
  padding: 0.5rem;
  width: 100%;
}
@media (max-width: 639.9px) {
  .tambah-komentar :where([type='text'], [type='url'], textarea) {
    -ms-grid-column-span: span 2 / span 2;
    grid-column: span 2 / span 2;
  }
}
.tambah-komentar [type='submit'] {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  cursor: pointer;
  padding: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.tambah-komentar [type='submit']:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(29, 78, 216, var(--tw-bg-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.tambah-komentar textarea {
  -ms-grid-column-span: span 2 / span 2;
  grid-column: span 2 / span 2;
}
.tambah-komentar form {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.25rem;
  gap: 1.25rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.tambah-komentar, .komentarnya {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  margin-top: 1.25rem;
  padding: 1.25rem;
}
.komentarnya h3 {
  font-family: 'Sacramento', cursive;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.tambah-komentar h2 {
  font-family: 'Sacramento', cursive;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
img {
  max-width: 100%;
}
.komentarnya p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (min-width: 640px) {
  .sm\:hidden {
    display: none;
  }
}