{% extends './layouts/default.html' %}
{% from './components/meta.html' import meta %}

{% block head %}
	{$ meta('Main Kode', 'Yuk main kode') $}
	<link rel="canonical" href="https://mainkode.my.id/" />
	<meta property="og:url" content="http://mainkode.my.id/" />
{% endblock %}


{% block body %}
	<section class="wadah-post index">
		<section class="isi-post">
			<header><h1>Main Kode</h1></header>

			<nav class="terbaru">
				<section class="tulisan-terbaru">Terbaru</section> 
				<section class="link-terbaru link-linknya">
					<a :href="'/post/' + data.slug + '.html'" v-cloak>{{data.judul}}</a>
				</section>
				<script type="module">
					import data from '/data/post.js'

					PetiteVue.createApp({
						data: data.reverse()[0]
					}).mount('.link-linknya a')
				</script>
			</nav>

			<!-- <nav class="terbaru">
				<section class="link-terbaru dapatkan-komentar" v-cloak @vue:mounted='dapatkanKomentar'>
					<a href="/" class="komentar-terbaru">Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Sit voluptatum exercitationem itaque, sed totam deserunt animi dolores beatae ducimus molestiae numquam officia nulla incidunt, quis, nemo, nihil facere magnam vitae.</a>
				</section>
				<script type="module">
					import {komentar, jawaban, sql} from '/data/api.js'

					PetiteVue.createApp({
						semuaKomentar: [],
						async dapatkanKomentar(){
							
						}
					}).mount('.dapatkan-komentar')
				</script>
			</nav> -->

			<section class="tengah semua-postingan" @vue:mounted='kategorisasiData'>
				<nav class="kategorisasi" v-for='x in semuaArtikel'>
          <h2 v-cloak>Main {{x.kelas}}</h2>
					<ol>
            <li v-for='y in acak(x.postingan).slice(0, 3)'><a :href="'/post/' + y.slug + '.html'" v-cloak>{{y.judul}}</a></li>
					</ol>
				</nav>

				<section class="tombol-acak" @click='kategorisasiData'>
					{% include './imports/tombol-acak.html' %}
				</section>
			</section>

			<script type='module'>
				import data from '/data/post.js'
				import acak from '/acak.js'

				PetiteVue.createApp({
					data,
					semuaArtikel: [],
					acak(x){
						return acak(x)
					},
					kategorisasiData(){
						let semuaKelas = []
						for (let x of this.data){
							if (!semuaKelas.includes(x.kelas)) {
								semuaKelas = [...semuaKelas, x.kelas]
							}
						}
						semuaKelas.sort()

						let kategorisasi = []
						for (let x of semuaKelas){
							kategorisasi = [...kategorisasi, {
								kelas: x,
								postingan: []
							}]
						}

						for (let x of this.data){
							for (let y of kategorisasi){
								if (x.kelas == y.kelas) {
									y.postingan = [...y.postingan, {
										judul: x.judul,
										slug: x.slug
									}]
								}
							}
						}
						// return kategorisasi
						this.semuaArtikel = kategorisasi
					}
				}).mount('.semua-postingan')
			</script>

			{% include './imports/footer.html' %}

		</section>
	</section>

	<style lang="windi">
		.tombol-acak {
			@apply fixed bottom-0 right-0 cursor-pointer p-3;
			user-select: none;
		}
		.komentar-terbaru {
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
		}
	</style>

	
{% endblock %}
